

/* ==UserStyle==
@name           ShadowCom
@namespace      https://gunnyarts.github.io/tb/
@version        1.0.1
@description    Intercom Darkmode
@author         Dennis Jensen
@updateURL      https://gunnyarts.github.io/tb/intercom/shadowcom.user.css
==/UserStyle== */

@-moz-document domain("intercom.com"), domain("intercom.io") {

  /* Variables */

  :root {
    --bg-2: #222;
    --bg-3: #111;
    --bg-main: #333;
    --btn-bg: transparent;
    --btn-border: transparent;
    --btn-text: var(--highlight);
    --btn-active-bg: transparent;
    --btn-active-border: var(--btn-active-text);
    --btn-active-text: var(--highlight-active);
    --btn-primary-active-bg: var(--highlight-active);
    --btn-primary-bg: var(--highlight);
    --btn-primary-active-text: var(--highlight-text);
    --btn-primary-text: var(--highlight-text);
    --conversation-admin-bg: #222;
    --conversation-admin-link-hover: #279dd9;
    --conversation-admin-link: #279dd9;
    --conversation-admin-text: #eee;
    --conversation-customer-bg: #444;
    --conversation-customer-link-hover: #8ec4fd;
    --conversation-customer-link: #6cb3ff;
    --conversation-customer-text: #eee;
    --conversation-mention-bg: #fbc916;
    --conversation-mention-text: #222;
    --conversation-note-bg: #FEEDAF;
    --conversation-note-link-hover: #5783ea;
    --conversation-note-link: #2355ca;
    --conversation-note-text: #000;
    --highlight-active: rgb(90, 180, 250);
    --highlight-text: #111;
    --highlight: rgb(200, 217, 230);
    --hr: rgba(0, 0, 0, .1);
    --intercom-bubble-bg: var(--highlight);
    --intercom-bubble-text: var(--highlight-text);
    --nav-bg: #111;
    --notif-bg: #ffe2b3;
    --notif-text: #111;
    --scrollbar-bg: var(--bg-3);
    --scrollbar-thumb: var(--highlight);
    --scrollbar-width: 5px;
    --start-logo: url(https://gunnyarts.github.io/ShadowCom/images/intercom-wide.png);
    --text-faded: #999;
    --text-link: var(--highlight);
    --text-link-hover: var(--highlight-active);
    --text-main: #eee;
    --tooltip-bg: var(--bg-main);
    --tooltip-link: #5ca2d6;
    --tooltip-text: var(--text-main);
  }
  /***********/
  /* General */
  /***********/

  body {
    background-color: var(--bg-main);
    color: var(--text-main);
  }

  .main,
  .main__content-outlet,
  .main__content,
  body > .ember-view > .application__component,
  .start,
  .start__nav {
    background-color: var(--bg-main);
    border-radius: 0;
  }

  .application__component {
    color: var(--text-main);
    background-color: var(--bg-main)
  }

  .t__body,
  .t__h1,
  .t__h2,
  .t__h3,
  .t__h4,
  .t__h5,
  .t__h6,
  .start__body,
  .start__h1,
  .start__h2,
  .start__h3,
  .start__h4,
  .start__h5,
  .start__h6,
  .t__h1__deem,
  .t__h2__deem,
  .t__label,
  .text,
  .text:not(.o__inline-link),
  .filter-block__details, .filter-block__details__specific-error, .filter-block__name{
    color: var(--text-main) !important
  }

  .t__solo-link,
  .t__solo-link__outer,
  a {
    color: var(--text-link)
  }

  .t__solo-link:active,
  .t__solo-link:hover,
  .t__solo-link__outer:active .t__solo-link__inner,
  .t__solo-link__outer:hover .t__solo-link__inner {
    color: var(--text-link-hover) !important;
  }

  .filter-block {
    background-color: var(--filter-btn-bg);
    color: var(--filter-btn-text);
    border-color: var(--filter-btn-bg);
  }

  .filter-block__details,
  .filter-block__details__specific-error,
  .filter-block__name {
    color: var(--filter-btn-text)
  }

  .filter-block.o__clickable:hover,
  .filter-block.o__open,
  .filter-block.o__open:hover {
    background-color: var(--filter-btn-bg-active)
  }

  .filter-block.o__clickable:hover .filter-block__details,
  .filter-block.o__clickable:hover .filter-block__name,
  .filter-block.o__open .filter-block__details,
  .filter-block.o__open .filter-block__name,
  .filter-block.o__open:hover .filter-block__details,
  .filter-block.o__open:hover .filter-block__name,
  .filter-block__delete {
    color: var(--filter-btn-text-active)
  }

  .f__custom-select__box,
  .btn.o__destructive,
  .btn.o__destructive:focus,
  .btn.o__destructive:hover,
  .btn.o__secondary,
  .btn.o__secondary-destructive,
  .btn.o__secondary-destructive:focus,
  .btn.o__secondary-destructive:hover,
  .btn.o__secondary-live,
  .btn.o__secondary:focus,
  .btn.o__secondary:hover {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border-color: var(--btn-border);
  }

  .f__custom-select__box.o__opened:hover,
  .btn.o__destructive:focus,
  .btn.o__destructive:hover,
  .btn.o__secondary-destructive:focus,
  .btn.o__secondary-destructive:hover,
  .btn.o__secondary:focus,
  .btn.o__secondary:hover,
  .btn.o__secondary.o__forced-active,
  .btn.o__secondary:active {
    background-color: var(--btn-active-bg);
    color: var(--btn-active-text);
    border-color: var(--btn-active-text);
  }

  .product-icon__link.ember-transitioning-in .product-icon__symbol,
  .product-icon__link.o__selected.o__subscribed:not(.ember-transitioning-out) .product-icon__symbol,
  .product-icon__link.o__selected:not(.ember-transitioning-out) .product-icon__symbol,
  .product-icon__link.o__subscribed.ember-transitioning-in .product-icon__symbol,
  .product-icon__link.o__subscribed:hover .product-icon__symbol {
    fill: inherit !important;
  }

  .dropdown,
  .overlay {
    background-color: var(--tooltip-bg)
  }

  .dropdown__list-item.o__item-selected {
    color: var(--highlight-active)
  }

  .dropdown__list-item.o__item-selected .interface-icon path {
    fill: var(--highlight-active) !important
  }

  .dropdown__list-item.o__hoverable:hover {
    background-color: var(--highlight-active);
    color: var(--highlight-text)
  }

  .dropdown__list-item.o__hoverable:hover .interface-icon path,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon circle,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon ellipse,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon line,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon path,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon polygon,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon polyline,
  .dropdown__list-item.o__hoverable:hover .visibility__icon .interface-icon rect,
  .dropdown__list-item.o__selected .interface-icon path {
    fill: var(--highlight-text) !important
  }

  .submenu__header__search-icon > .interface-icon > path,
  .submenu__collapse-toggle__icon > .interface-icon > path {
    fill: var(--text-main) !important
  }

  .submenu__header__search-icon:hover > .interface-icon > path,
  .submenu__collapse-toggle__icon:hover > .interface-icon > path {
    fill: var(--highlight-active) !important
  }

  .btn.o__primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
  }

  .btn.o__primary:focus,
  .btn.o__primary.o__forced-active,
  .btn.o__primary:active,
  .btn.o__primary:hover {
    background-color: var(--btn-primary-active-bg);
    color: var(--btn-primary-active-text);
  }

  .pill {
    background-color: var(--btn-primary-bg);
  }

  .pill > .t__group-label {
    color: var(--btn-primary-text);
  }

  .pill > .pill__icon svg path {
    fill: var(--btn-primary-text) !important;
  }

  .pill:hover {
    background-color: var(--btn-primary-active-bg);
  }

  .pill:hover > .t__group-label {
    color: var(--btn-primary-active-text);
  }

  .pill:hover > .pill__icon svg path {
    fill: var(--btn-primary-active-text) !important;
  }

  .dialog__overlay__inner {
    background-color: var(--bg-main)
  }

  .dialog__body {
    background: inherit
  }

  .user__hovercard {
    background-color: var(--bg-2);
  }

  .user__hovercard > svg > path {
    fill: var(--bg-2)
  }

  .user__hovercard__row.o__bottom {
    border-top-color: var(--hr);
  }

  .user__hovercard .t__solo-link:active,
  .user__hovercard .t__solo-link:hover,
  .user__hovercard .t__solo-link__outer:active .t__solo-link__inner,
  .user__hovercard .t__solo-link__outer:hover .t__solo-link__inner,
  .user__hovercard .t__h4 a:hover {
    color: var(--highlight-active);
    opacity: 1;
  }

  .popover__content, .popover__content-container>[data-popper-arrow]:after {
    background-color: var(--bg-main);
    color: var(--text-main);
  }

  .ds-new__dropdown {
    background-color: var(--bg-main)
  }

  .ds-new__dropdown__group__filter__icon,
  .ds-new__dropdown__group__filter__input {
    color: var(--text-main)
  }

  .ds-new__dropdown__group__filter__input:focus {
    border-color: var(--highlight-active)
  }

  .ds-new__dropdown__block__item {
    color: var(--text-main)
  }

  .ds-new__dropdown__block__item.o__selected,
  .ds-new__dropdown__block__item:hover,
  .dropdown__list-item.o__hoverable:hover,
  .dropdown__list-item.o__selected,
  .overlay__list-item.o__hoverable:hover {
    background-color: var(--highlight-active);
    color: var(--highlight-text);
    fill: var(--highlight-text);
  }

  .ds-new__dropdown__block__item.o__selected .interface-icon path {
    fill: inherit !important;
  }

  .overlay__standard-tooltip,
  .packaging__tooltip {
    background-color: var(--tooltip-bg);
    color: var(--tooltip-text)
  }

  .overlay__standard-tooltip svg > path,
  .packaging__tooltip svg > path {
    fill: var(--tooltip-bg);
  }

  .overlay__standard-tooltip a {
    color: var(--tooltip-link)
  }

  .menu__popover {
    background-color: var(--bg-2);
    color: var(--text-main);
  }

  .menu__popover__triangle::after {
    border-right-color: var(--bg-2)
  }

  .menu__popover__item {
    color: var(--text-main)
  }

  .menu__popover__item.o__selected,
  .menu__popover__item:hover {
    color: var(--highlight-active)
  }

  .modal {
    background-color: var(--bg-main);
  }

  .modal .btn__tertiary {
    color: var(--highlight);
  }

  .modal .btn__tertiary:hover,
  .modal__header__close__link:hover {
    color: var(--highlight-active);
  }

  .ds-new__modal__container {
    background-color: var(--bg-2);
  }
  .m__composer-help__code {
    background-color: var(--btn-bg);
    color: var(--btn-text);
  }

  .inbox__access-banner {
    background-color: var(--bg-2);
    color: var(--text-main)
  }

  .btn__footer, .card, .tbl tbody {
    background-color: var(--bg-main);
  }

  .filter-block__delete {
    background-color: var(--bg-main);
    color: var(--text-main);
  }
  .filter-block.o__deletable.o__open .filter-block__details::after, .filter-block.o__deletable:hover .filter-block__details::after {
    background: linear-gradient(to right,rgba(241,241,241,0) 90%,var(--bg-main) 100%);
  }

  .saved-contents__list-item {color: var(--text-main)}

  .banner.o__help, .discovery-banner {
    color: var(--text-main);
    fill: var(--text-main)!important;
    background-color: var(--bg-3);
  }

  .pagination__for-user-table.o__white, .saved-contents__modal__edit-overlay {background: var(--bg-main)}

  input[type=text], input[type=email], .tagger__holder, .tagger__holder > input { background-color: var(--bg-3); color: var(--text-main); }

.filter-block.o__error, .filter-block.o__error .filter-block__delete, .filter-block.o__error, .filter-block.o__error .filter-block__delete {background:var(--highlight); color: var(--highlight-text);}
.filter-block.o__error *, .filter-block.o__error .filter-block__delete * {color: inherit !important;}
.filter-block.o__error.o__clickable:hover, .filter-block.o__error.o__open, .filter-block.o__error.o__open:hover, .filter-block.o__error:hover, .filter-block.o__error.o__clickable:hover .filter-block__delete, .filter-block.o__error.o__open .filter-block__delete, .filter-block.o__error.o__open:hover .filter-block__delete, .filter-block.o__error:hover .filter-block__delete {background: var(--highlight-active)}

.nav-vertical__search__input {color: var(--text-main) !important}

.m__saved-replies__list-item.o__hoverable:hover, .m__saved-replies__list-item.o__selected, .m__saved-replies__list-item.o__selected .m__saved-replies__list-item__summary {
  background-color: var(--highlight-active);
}
.m__saved-replies__list-item.o__hoverable:hover a, .m__saved-replies__list-item.o__selected a, .m__saved-replies__list-item.o__selected .m__saved-replies__list-item__summary a {
  color: var(--highlight-text)
}

.saved-replies__popover__content {color: var(--text-main)}


  /* scrollbars */

  ::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
    width: var(--scrollbar-width)
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb)
  }

  ::-webkit-scrollbar-button {
    displaY: none
  }

  ::-webkit-scrollbar-track {
    background-color: transparent
  }

  ::-webkit-scrollbar-track-piece {
    background-color: transparent
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent
  }

  ::-webkit-resizer {
    background-color: transparent
  }
  /***********/
  /* Start   */
  /***********/

  .start {
    position: initial !important;
  }

  .start__nav__logo {
    background-image: var(--start-logo);
    height: 30px;
    width: 120px;
    overflow: hidden;
    padding-left: 120px;
    box-sizing: border-box;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .m__login__main-login__ad {
    background-color: var(--bg-2);
    box-shadow: none;
    border-color: var(--bg-2)
  }

  .start__description-text,
  .start__body,
  .start__h1,
  .start__h2,
  .start__h3,
  .start__h4,
  .start__h5,
  .start__h6,
  .start__new__design-title,
  .m__login__submission__form {
    color: var(--text-main)
  }

  .m__login__secondary-page {
    border-color: var(--bg-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loading__main-application {
    background-color: var(--bg-main) !important;
  }

  #intercom-container-body {
    background-color: var(--intercom-bubble-bg);
  }

  .intercom-launcher svg > path {
    fill: var(--intercom-bubble-text)
  }
  /*******/
  /* Nav */
  /*******/

  .left-nav,
  .layout__box.left-nav__bottom, .left-nav__bottom {
    background-color: var(--nav-bg)
  }

  .left-nav__link,
  .product-icon__link.o__subscribed .product-icon__symbol,
  .product-icon__link .product-icon__symbol,
  .left-nav__link.o__appstore .left-nav__icon,
  .left-nav__link.o__guide .left-nav__icon,
  .left-nav__link.o__messenger .left-nav__icon,
  .left-nav__link.o__operator .left-nav__icon,
  .left-nav__link.o__product-changes .left-nav__icon,
  .left-nav__link.o__appstore .left-nav__icon,
  .left-nav__link.o__guide .left-nav__icon,
  .left-nav__link.o__messenger .left-nav__icon,
  .left-nav__link.o__operator .left-nav__icon,
  .left-nav__link.o__product-changes .left-nav__icon,
  .left-nav__link.o__product-tours .left-nav__icon,
  .left-nav__link.o__reporting .left-nav__icon {
    fill: var(--highlight) !important
  }

  .left-nav__link.o__selected,
  .left-nav__link:hover .left-nav__icon,
  .left-nav__link:hover,
  .left-nav__link.o__appstore.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__appstore.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__appstore:hover .left-nav__icon,
  .left-nav__link.o__guide.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__guide.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__guide:hover .left-nav__icon,
  .left-nav__link.o__messenger.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__messenger.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__messenger:hover .left-nav__icon,
  .left-nav__link.o__operator.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__operator.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__operator:hover .left-nav__icon,
  .left-nav__link.o__product-changes.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__product-changes.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__product-changes:hover .left-nav__icon,
  .left-nav__link.o__product-tours.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__product-tours.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__product-tours:hover .left-nav__icon,
  .left-nav__link.o__reporting.ember-transitioning-in .left-nav__icon,
  .left-nav__link.o__reporting.o__selected:not(.ember-transitioning-out) .left-nav__icon,
  .left-nav__link.o__reporting:hover .left-nav__icon {
    fill: var(--highlight-active) !important;
  }

  .left-nav__link:hover .left-nav__secondary-icon__stroke {
    stroke: var(--highlight-active) !important;
  }

  .left-nav__link.o__selected,
  .left-nav__link.o__selected .left-nav__icon__purchasable:after,
  .left-nav__link.o__selected .left-nav__icon__purchasable:before, .left-nav__link.bg-gray-light {
    background-color: var(--nav-bg)
  }

  .left-nav__link .left-nav__icon,
  .product-icon__link .product-icon__symbol {
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }

  .left-nav__link.o__selected,
.left-nav__link.o__selected .left-nav__icon__purchasable:after,
.left-nav__link.o__selected .left-nav__icon__purchasable:before{
  background-color: var(--nav-bg) !important;
}

.product-icon__link:hover .product-icon__fill {fill: var(--highlight-active) !important;}
.product-icon__link:hover .product-icon__stroke {stroke: var(--highlight-active) !important;}


.left-nav__link.o__selected svg > path[fill="#334BFA"] {fill: var(--highlight-active) !important}
.left-nav__link.o__selected svg > path[stroke="#334BFA"] {stroke: var(--highlight-active) !important}

.left-nav__link-opener, .left-nav__link.bg-gray-light {
  background-color: var(--nav-bg) !important;
}

.left-nav__link.o__appstore .left-nav__icon, .left-nav__link.o__messenger .left-nav__icon, .left-nav__link.o__operator .left-nav__icon, .left-nav__link.o__overflow-menu .left-nav__icon, .left-nav__link.o__product .left-nav__icon, .left-nav__link.o__product-changes .left-nav__icon, .left-nav__link.o__product-tours .left-nav__icon, .left-nav__link.o__reporting .left-nav__icon, .left-nav__link.o__tours .left-nav__icon {
fill: var(--highlight) !important
}

.product-icon__stroke { stroke: var(--highlight) !important;}
.product-icon__fill { fill: var(--highlight) !important;}
.product-icon__link:hover .product-icon__fill {fill: var(--highlight-active) !important;}

  .submenu__sections__section,
  .submenu__sections__section__items.o__section-padding-right,
  .submenu__sections__section__title.o__section-padding-right,
  .submenu__sections__section__items__inner {
    padding: 0
  }

  .nav-vertical__link {
    padding: 8px 12px !important
  }
  .nav-vertical__draggable-item {background-color: inherit}

  .submenu,
  .submenu__header__title,
  .submenu__collapse-toggle__icon,
  .submenu__header__button.btn.o__subtle
  {
    background-color: var(--bg-2) !important;
    color: var(--text-main) !important;
  }

  .submenu__sections__section__mask {
    background-image: none !important
  }

  .submenu__sections__section__title__link,
  .nav-vertical__link,
  .submenu__sections__section__items__item__count,
  .submenu__sections__section__items__item,
  .submenu__sections__section__items__inner .submenu__sections__section__title__link,
  .submenu__sections__section__title__link.ember-transitioning-in {
    color: var(--text-main) !important
  }

  .nav-vertical__link.ember-transitioning-in,
  .nav-vertical__link.ember-transitioning-in:hover,
  .nav-vertical__link.o__selected:not(.ember-transitioning-out),
  .nav-vertical__link.o__selected:not(.ember-transitioning-out):hover,
  .nav-vertical__link:hover,
  .nav-vertical__settings-icon:hover,
  .submenu__sections__section__items__item:hover,
  .submenu__sections__section__items__item.o__selected,
  .submenu__sections__section__items__inner .submenu__sections__section__title__link:hover,
  .submenu__sections__section__items__inner .submenu__sections__section__title__link.o__selected,
  .submenu__sections__section__title__link.o__selected:not(.ember-transitioning-out),
  .submenu__sections__section > .submenu__sections__section__mask ~ .submenu__section__title .submenu__sections__section__title__link:hover,
  .submenu__header__button.btn.o__subtle:hover{
    background-color: var(--highlight-active) !important;
    color: var(--highlight-text) !important
  }

  .nav-vertical__link.ember-transitioning-in a,
  .nav-vertical__link.ember-transitioning-in:hover a,
  .nav-vertical__link.o__selected:not(.ember-transitioning-out) a,
  .nav-vertical__link.o__selected:not(.ember-transitioning-out):hover a,
  .nav-vertical__link:hover a,
  .nav-vertical__settings-icon:hover a {
    color: var(--highlight-text) !important
  }

  .nav-vertical__link.ember-transitioning-in .submenu__sections__section__items__item__count,
  .nav-vertical__link.o__selected:not(.ember-transitioning-out) .submenu__sections__section__items__item__count,
  .nav-vertical__link:hover .submenu__sections__section__items__item__count {
    color: var(--highlight-text) !important
  }
  /************/
  /* Platform */
  /************/
  /* Messages */
  /************/

  .messenger-settings__title {
    background: transparent
  }

  .hero-banner__container {
    background-color: var(--bg-2)
  }
  /* Inbox    */
  /************/

  .conversation__inbox__list-wrapper,
  .conversation__inbox__list-header,
  .conversation__inbox__list-filter,
  .conversation__inbox__list {
    background-color: var(--bg-2);
    border-color: var(--bg-main) !important;
  }

  .conversation__inbox__list-header__inbox-name:hover,
  .conversation__inbox__list-header__inbox-name:hover .t__h1 {
    color: var(--highlight-active);
  }

  .inbox__inbox-picker__link, .text-blue {
    color: var(--text-main) !important;
  }

  .inbox__inbox-picker__item.o__selected .inbox__inbox-picker__link,  {
    background-color: var(--highlight-active);
    color: var(--highlight-text) !important;
  }

  .inbox__inbox-picker__item.o__selected .submenu__sections__section__items__item__count,
  .inbox__inbox-picker__link:hover .submenu__sections__section__items__item__count,
  .inbox__inbox-picker__link:hover {
    color: var(--highlight-text) !important;
    background-color: var(--highlight-active);
  }

  .conversation__list__item.o__active,
  .conversation__list__item.o__active:hover,
  .conversation__list__item:hover {
    background-color: var(--bg-main)
  }

  .conversation__list__item:hover, .bg-blue-light:hover {
    background-color: var(--bg-2)
  }

  .conversation__list__item, .bg-blue-light, .bg-white {
    background-color: var(--bg-3)
  }
  .border-blue {border-color: var(--highlight)}

  .conversation__list__item.o__active .conversation__list__item__main-participant__name,
  .conversation__list__item.o__selected .conversation__list__item__main-participant__name,
  .conversation__list__item:hover .conversation__list__item__main-participant__name,
  .submenu__sections__section__title__link:hover {
    color: var(--highlight-active) !important
  }

  .conversation__list__item.o__active:not(.o__selected),
  .conversation__list__item.o__active .conversation__card__header {
    border-left-color: var(--highlight-active)
  }

  .conversation__list__item.o__active .conversation__list__item__summary,
  .conversation__list__item.o__selected .conversation__list__item__summary,
  .conversation__list__item:hover .conversation__list__item__summary,
  .conversation__list__item__main-participant__name,
  .conversation__list__item.o__active .conversation__card__header__company-name,
  .conversation__list__item.o__selected .conversation__card__header__company-name,
  .conversation__list__item:hover .conversation__card__header__company-name,
  .conversation__list__item.o__active .conversation__list__timestamp,
  .conversation__list__item.o__active:not(.o__selected) .conversation__list__timestamp,
  .conversation__list__item.o__selected .conversation__list__timestamp {
    color: var(--text-faded)
  }

  .conversation__text pre {
    color: var(--text-main);
    background-color: transparent;
    border: 1px solid var(--text-main);
    padding: 5px;
  }

  .conversation__list__badge.o__unread {
    background-color: var(--highlight)
  }

  .tutorial-helper__inbox-conversations .submenu__sections__section__items__show-more {
    margin-left: 5px;
  }

  .btn__tertiary__deemphasized,
  .nav-vertical__settings-icon {
    color: var(--text-faded)
  }

  .btn__tertiary__deemphasized:hover,
  .nav-vertical__settings-icon:hover {
    color: var(--highlight-active) !important;
    background-color: initial !important
  }

  .f__custom-select__box.o__subtle,
  .f__custom-select__box {
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
    color: var(--btn-text);
  }

  .f__custom-select__box .layout__media__ext {
    color: var(--btn-text);
  }

  .f__custom-select__box.o__subtle:hover,
  .f__custom-select__box:hover,
  .f__custom-select__box.o__opened,
  .f__custom-select__box.o__subtle.o__opened,
  .f__custom-select__box.o__subtle:active,
  .f__custom-select__box:active {
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-text);
    color: var(--btn-active-text);
  }

  .f__custom-select__box.o__opened .layout__media__ext,
  .f__custom-select__box:hover .layout__media__ext {
    color: var(--btn-active-text);
  }

  .quick-action {
    color: var(--color-faded)
  }

  .quick-action:active,
  .quick-action:hover {
    color: var(--highlight-active)
  }

  .submenu__information-overlay {
    background-color: var(--tooltip-bg)
  }

  .submenu__information-overlay__caret-vector {
    fill: var(--tooltip-bg);
    stroke: var(--tooltip-bg)
  }

  .tooltips__inbox-hovercard__title {
    color: var(--text-main)
  }

  .conversation__inbox__outlet,
  .conversation__inbox__current-conversation,
  .inbox__card__header {
    background-color: var(--bg-main)
  }

  .conversation__card__title__em-link {
    color: var(--text-main)
  }

  .conversation__card__title__em-link:hover {
    color: var(--highlight-active)
  }

  .conversation__bubble.o__admin-comment,
  .conversation__bubble.o__admin-comment.o__is-typing-on {
    background-color: var(--conversation-admin-bg);
    border-color: var(--conversation-admin-bg)
  }

  .conversation__bubble.o__operator-comment,
  .conversation__bubble.o__admin-comment .conversation__text,
  .conversation__bubble.o__admin-comment.o__is-typing-on .conversation__text {
    color: var(--conversation-admin-text)
  }

  .conversation__bubble.o__admin-comment a {
    color: var(--conversation-customer-link)
  }

  .conversation__bubble.o__admin-comment a:hover {
    color: var(--conversation-customer-link-hover)
  }

  .conversation__bubble.o__bot-comment,
  .conversation__bubble.o__user-comment,
  .conversation__bubble.o__user-comment.o__is-typing-on {
    background-color: var(--conversation-customer-bg);
    border-color: var(--conversation-customer-bg);
  }

  .conversation__bubble.o__user-comment {
    color: var(--conversation-customer-text);
  }

  .conversation__bubble.o__user-comment a {
    color: var(--conversation-customer-link)
  }

  .conversation__bubble.o__user-comment a:hover {
    color: var(--conversation-customer-link-hover)
  }

  .conversation__bubble.o__admin-note, .o__admin-note .text, .o__admin-note .text:not(.o__inline-link) {
    background-color: var(--conversation-note-bg);
    border-color: var(--conversation-note-bg);
    color: var(--conversation-note-text) !important;
  }

  .conversation__bubble.o__admin-note a {
    color: var(--conversation-note-link)
  }

  .conversation__bubble.o__admin-note a:hover {
    color: var(--conversation-note-link-hover)
  }
  .conversation__text.o__note pre, .conversation__text.o__admin-note pre {
      border-color: var(--conversation-note-text);
      color: var(--conversation-note-text);
  }

  .profile__note-textarea,
  .profile__note-textarea.o__focused,
  .profile__note-textarea:focus {
    background-color: var(--conversation-note-bg);
    border-color: var(--conversation-note-bg);
    color: var(--conversation-note-text)
  }

  .conversation__action__text,
  .conversation__action__text a {
    color: var(--color-faded)
  }

  .conversation__action__text a:hover {
    color: var(--highlight-active)
  }

  .tabs__tab.o__in-pane-selector.o__selected,
  .tabs__tab.o__in-pane-selector.o__selected:hover,
  .tabs__tab.o__selected:hover,
  .tabs__tab.o__in-pane-selector:hover,
  .tabs__tab:hover {
    color: var(--highlight-active);
    border-bottom-color: var(--highlight-active);
  }

  .conversation__text .entity_mention {
    background-color: var(--conversation-mention-bg);
    color: var(--conversation-mention-text) !important;
  }

  .card {
    background-color: var(--conversation-admin-bg);
  }

  .card.o__selected {
    border-color: var(--highlight-active)
  }
  .simple-composer__input {
    color: var(--text-main);
  }
  .inbox__conversation-composer__wrapper {
    color: var(--conversation-admin-text);
  }

  .inbox__conversation-composer__wrapper a {
    color: var(--conversation-admin-link);
  }

  .inbox__conversation-composer__wrapper a:hover {
    color: var(--conversation-admin-link-hover);
  }

  .inbox__conversation-controls__internal-part,
  .inbox__conversation-controls__pane-selector.o__note-selected {
    background-color: var(--conversation-note-bg);
  }

  .inbox__conversation-controls__internal-part .inbox__conversation-composer__wrapper {
    color: var(--conversation-note-text);
  }

  .inbox__conversation-controls__internal-part .inbox__conversation-composer__wrapper a {
    color: var(--conversation-note-link);
  }

  .inbox__conversation-controls__internal-part .inbox__conversation-composer__wrapper a:hover {
    color: var(--conversation-note-link-hover);
  }

  .conversation__inbox__current-context {
    background-color: var(--bg-2);
    color: var(--text-faded)
  }

  .profile-sidebar-section__section-title {
    color: var(--text-main)
  }

  .conversation__inbox__current-context.o__new-sidebar {
	  background-color: var(--bg-2);
  }
  .ds-new__card {
	  background-color: var(--bg-3);
  }
  .conversation__mini-card:hover {
    border-color: var(--highlight-active)
  }

  .lock__overlay {
    background-color: var(--bg-3);
    opacity: 0.95;
  }

  .inbox__conversation-header__change-participants-popover {
    background-color: var(--bg-2)
  }

  .inbox__conversation-header__change-participants-popover svg > path {
    fill: var(--bg-2)
  }

  .profile-sidebar-tabbar__tab.o__active {
    border-color: var(--highlight)
  }

  /************/
  /* Platform */
  /************/

  .user-list__header {
      background-color: transparent !important;
  }

  /* Messenger */
  /* Operator */
  /* App Store */
  /* Product Changes */
  /* Settings */
  /****************/
  /* Your Account */
  /****************/



}
